services:
  frontend:
    build: ./front
    ports:
      - "3000:3000"
    volumes:
      - ./front:/app
      - /app/node_modules

  backend:
    build: ./back
    ports:
      - "8000:8000"
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./back:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev"

  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
